<!DOCTYPE html>
<html>
	<head>
		<title>Cinema and Chill</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<style>
			ul {
			  list-style-type: none;
			  padding: 0;
			  overflow: hidden;
			  background-color: #333;
			}

			li {
			  float: left;
			}

			li a {
			  display: block;
			  text-align: center;
			  padding: 14px 16px;
			}

			body {
				margin-top: 10px;
				background-image: url("../static/background.png");
				background-attachment: fixed;
				background-color: #515151;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				overflow: hidden;
			}
		</style>
	</head>
  <body>

		<ul style="margin-right: 10px;margin-left: 10px;">
			<li style="font-size: 25px;"><a class="active" href="/" style="text-decoration: none;color: orangered;">Cinema and Chill</a></li>
			<li style="float: right;font-size: 18px;"><a href="userprofile" style="text-decoration: none; color: orangered;">Your Page</a></li>
			<li style="float: right;font-size: 18px;"><a href="signIn" style="text-decoration: none; color: orangered;">Sign In</a></li>
			<li style="float: right;font-size: 18px;"><a href="signUp" style="text-decoration: none; color: orangered;">Sign Up</a></li>
			<li style="float: right;font-size: 18px;"><a href="search" style="text-decoration: none; color: orangered;">Search</a></li>
		</ul>
    
    </body>

</html>
